body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-wrapper {
    width: 100%;
    max-width: 400px; /* スマホ画面サイズに合わせた最大幅 */
    margin: 20px; /* 画面中央付近に配置 */
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 縦方向に中央揃え */
    align-items: center; /* 横方向に中央揃え */
}

/* ヘッダー */
header {
    background-color: #ffa600;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 93%; /* ヘッダーがコンテナの幅いっぱいに広がる */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* メインコンテンツ */
main {
    padding: 20px;
    width: 100%; /* メインコンテンツがコンテナの幅いっぱいに広がる */
}

/* ボタンセクション */
.button-section {
    margin-bottom: 20px;
}

/* ボタン */
.button {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}

/* フッター */

/* footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
} */
